body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

.datahub-folder-tree .ant-tree-indent-unit {
  width: 12px;
}

.datahub-folder-tree .ant-tree-switcher {
  width: 18px;
}

.datahub-folder-tree .ant-tree-node-content-wrapper {
  padding-inline: 2px;
}
